location            = "centralindia"
ai_location         = "southindia"

resource_group_name = "rg-resolveops-platform-dev"
vnet_name           = "vnet-resolveops-platform-dev"
resolveops_aks_name = "aks-resolveops-platform-dev"
acr_name            = "acrresolveopsdev"
key_vault_name      = "kv-resolveops-dev-"
storage_account_name= "stresolveopsdev"
# Note: postgres_server_name is derived from a hardcoded base in main.tf, but if it becomes a variable you would set it here.
# postgres_name = "psql-resolveops-dev-"

resolveops_namespace      = "resolveops-ai"
quickhaul_dev_namespace   = "quickhaul-dev"
quickhaul_prod_namespace  = "quickhaul-prod"
monitoring_namespace      = "monitoring"
